@import "reset.scss";
@import "variables.scss";
@import "grid.scss";

html {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 300;
  line-height: 115%;
  color: #000000;
  /* 62.5% of 16px user agent font size is 10px
  лайфхак для того чтобы удобно использовать единицы измерения rem вместо px,
  теперь 1rem будет равен 10px
  */
  font-size: 62.5% !important;
  text-rendering: auto !important;
  -webkit-font-smoothing: auto !important;
  background: #f3f3f3;
}

h1 {
  font-size: 10rem;
  font-weight: 300;
  line-height: 12rem;
  letter-spacing: -0.015rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h2 {
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 7.68rem;
  letter-spacing: -0.005rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h3 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 6rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h4 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.32rem;
  letter-spacing: 0.0025rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h5 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.88rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h6 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.0015rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.h7 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.92rem;
  letter-spacing: 0.0015rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.h8 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.44rem;
  letter-spacing: 0.0015rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.subtitle-main {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.16rem;
  letter-spacing: 0.0015rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.subtitle-secondary {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.92rem;
  letter-spacing: 0.001rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.body-main {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.92rem;
  letter-spacing: 0.005rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.body-secondary {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
  letter-spacing: 0.0025rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.button {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.92rem;
  letter-spacing: 0.0125rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

.caption {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.44rem;
  letter-spacing: 0.004rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.overline {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}