/*
TODO а вот и переменные, это css переменные, не путать с scss переменными
*/

:root {
  --color-yellow: #E8C11C;
  --color-orange: #F59D11;
  --color-green: #1CE830;
  --color-graphite: #1E1E1E;
}

/*
TODO здесь у нас брейкпоинты, нам нужно их столько для скольких разрешений мы верстаем
 (нам так много не надо на этом проекте, нужно только 3 (для смартфонов, планшетов, десктопов)
 потом приходи поменяем вместе
*/
$breakpoints: (
        "xxs": 320px,
        "xs": 375px,
        "sm": 430px,
        "md": 744px,
        "lg": 834px,
        "xl": 1024px,
        "xxl": 1280px,
        "xxxl": 1440px,
        "xxxxl": 1920px,
);